.maincon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle, 
    rgb(189, 255, 251), 
    rgb(00, 204, 255),
    rgb(0, 122, 255) 
  ), conic-gradient(
    from 180deg at 50% 50%, 
    rgb(189, 255, 251), 
    rgb(0, 122, 255) 
  );
  width: 100%;
  min-width: 62.5rem;
  height: 100vh;
}

.oblong {
  display: flex; 
  border-radius: 1.875rem;
  border: 0.063rem solid #00A9FF;
  background: floralwhite;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.70);
}

.prof {
  display: flex;
  border-top-left-radius: 1.875rem;
  border-bottom-left-radius: 1.875rem;
  border-right: 0.063rem solid #00A9FF;
  flex: 2.5;
}

.imgprof {
  border-top-left-radius: 1.875rem;
  justify-content: center;
  align-items: center;
  flex: 3;
}
.imgg{
  border-radius: 10rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
.upl {
  font-family: "Archivo";
  font-style: normal;
  font-size: 0.8rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: flex; 
}
.fullname {
  font-family: "Archivo";
  font-style: normal;
  font-size: 1.2rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 0%;
}
.photo {
  font-family: "Archivo";
  font-style: normal;
  font-size: 0.8rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.accs {
  border-bottom-left-radius: 1.875rem;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex: 2;
}
.fbincon,.gincon,.lincon {
  flex: 4;
}
.fbin, .gin,.lin{
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 0.063rem solid #0CF;
  background-color: rgb(255, 255, 255);
  outline: 0 !important;
  padding-left: 0.5rem;
  box-sizing: border-box;
  width: 100%;
}
.fblogo,.glogo,.linklogo{
  justify-content: center;
  align-items: center;
  flex: 1;
}
.editprof{
  border-left: 0.063rem solid #00A9FF;
  border-right: 0.063rem solid #00A9FF;
  flex: 5;
}
.sup {
  font-family: "Archivo";
  font-style: normal;
  font-size: 1.5rem;
  font-weight: bold;
}
.name {
  margin-bottom: 0%;
  display: flex;
  justify-content: center;
}
.first,.last,.date,.mob{
  display: flex;
  flex-direction: column;
}
.datemob {
  margin-bottom: 0%;
  display: flex;
  justify-content: center;
}
.imgg{
  border: 0.063rem solid #0CF;
}
.exp {
  border-top-right-radius: 1.875rem;
  border-bottom-right-radius: 1.875rem;
  border-left: 0.063rem solid #00A9FF;
  display: flex;
  flex-direction: column;
  flex: 2.5;
}
.homeButton {
  margin-bottom: 30px; /* Adjust the margin as needed */
  text-align: right; /* Align the button to the right */
  margin-top: 20px;
  margin-left: 20px;

}

.homeButton a {
  padding: 10px 15px;
  background-color: #3498db; /* Change the background color as needed */
  color: #fff;
  text-decoration: none;
  border-radius: px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 8px;
}
.homeButton a:hover {
  background-color: #2980b9; /* Change the background color on hover as needed */
}
.expp {
  font-family: "Archivo";
  font-style: normal;
  font-size: 1rem;
  font-weight: bold;
}
.fn,.ln,.mn,.bd,
.addr1,.compslogan,
.expp1,.expp2,.expp3{
  font-family: "Archivo";
  font-style: normal;
  font-size: 0.8rem;
  font-weight: bold;
  color: #5D5D5D;
}
.fnin,.lnin,.mnin,.bdin,
.addr1in,.addr1inn,.cslogan,
.exp1in,.exp2in,.exp3in{
  font-family: "Archivo";
  font-style: normal;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 0.063rem solid #0CF;
  background-color: rgb(221, 250, 249);
  outline: 0 !important;
  box-sizing: border-box;
  padding: 0.5rem;
  margin-top: 0%;
}
@media (max-width: 1980px) {
  .maincon {
    min-width: auto; 
  }
  
  .oblong {
    max-width: 90%; 
    height: 96%; 
    width: 100%;
  }

  .prof {
    flex: 2.5;
    height: 100%;
    max-width: 25%;
    width: 100%;
    flex-direction: column;
  }

  .imgprof{
    flex: 3;
  }
  .accs {
    flex: 2;
  }
  .fbincon, .gincon,.lincon{
    margin-right:5%;
  }
  .fbin,.gin,.lin{
    max-width: 100%;
    width: 100%;
    height: 70%;
    font-size: 0.75rem;
    flex: 4;
  }
  .fbin:focus, .gin:focus, .lin:focus {
    box-shadow: 2px 2px 2px 0px rgba(16, 155, 241, 0.75);
  }
  .fblogo, .glogo,.linklogo{
    max-width: 15%;
    width: 100%;
    height: 20%;
    margin-left: 5%;
    flex: 1;
    display:flex;
  }
  .imgprof{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  .imgg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60%; 
    height: 50%;
    overflow: hidden;
  }
  .upl{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; 
    height: 10%;
    margin: 2%;
  }
  .accs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  .fb,.google,.linked{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .photo{
    margin-top: 2%;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .editprof {
    flex: 5;
    height: 100%;
    max-width: 50%;
    width: 100%;
  }
  .sup {
    margin-left: 2%;
  }
  .fn,.ln,.mn,.bd{
    text-align: left;
  }
  .first{
    width: 46%;
  }
  .last{
    width: 46%;
    margin-left: 2%;
  }
  .fnin,.lnin,.mnin,.bdin,
  .addr1in,.addr1inn,
  .exp1in,.exp2in,.exp3in{
    width: 100%;
    height: 5vh;
  }
  .date{
    width: 46%;
  }
  .mob{
    width: 46%;
    margin-left: 2%;
  }
  .addr1{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;  
    margin-bottom: 2%; 
  }
  .exp1in,.exp2in,.exp3in,
  .addr1in, .addr1inn{
    max-width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2%; 
  }
  .cslog {
    width: 100%;
  }

  .compslogan {
    margin-left: 3%; 
  }

  .cslogan {
    padding-top: 0.5rem;
    max-width: 94%;
    height: 15%;
    width: 100%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 0.5rem;
    resize: none;
  }
  .exp {
    flex: 2.5;
    height: 100%;
    max-width: 25%;
    width: 100%;
  }

  .expp{
    margin-left: 2%;
  }
  
  .expp1,.expp2,.expp3{
    text-align: left;
    margin-left: 3%;
  }
  .exp1,.exp2,.exp3{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @font-face{
    font-family: 'Archivo';
    src: url('./fonts/Archivo-SemiBold.woff2') format('woff2'),
         url('./fonts/Archivo-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }
}